@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  min-width: 320px;
}

.brand-block {
  padding-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.brand-block__title-text {
  font-family: "TT Lakes", sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #7e7e82;
}

.wrapper_swiper__block {
  min-width: 320px;
}

.slider__slide {
  background-color: white;
}

.slider__image {
  text-align: center;
}

.slider__image img {
  max-width: 100%;
}

.brand-block__title-wrapper {
  text-transform: uppercase;
  padding: 15px 16px;
  background: linear-gradient(270deg, #fff 0%, #f8f8f8 100%);
  width: auto;
}

.swiper-slide-brand {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 72px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  margin-top: 16px;
}

.swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
}

.swiper-container {
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .brand-block__show-more {
    display: none;
  }
}

/*среднее разрешение*/

@media (min-width: 768px) {
  .slider__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin: 24px;
  }

  .swiper-slide-brand {
    padding: 16px;
    margin: 0;
    width: 100%;
  }

  .swiper-container {
    overflow: visible;
    padding-right: 24px;
    margin-right: 24px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .swiper-slide-brand:nth-last-child(-n + 5) {
    display: none;
  }
}

@media (min-width: 768px) {
  .brand-block__title-wrapper {
    padding-left: 24px;
  }

  .brand-block {
    padding-bottom: 34px;
  }
}
/*--------*/

.brand-block__show-more-button {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  font-family: "TT Lakes", sans-serif;
  color: #1b1c21;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.show-more__icon::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 28px;
  background-image: url("./images/expand.svg");
  margin-left: 24px;
  margin-right: 16px;
  margin-right: 16px;
  background-size: cover;
  transform: var(--transform-rotate);
}

/*Большое разрешение*/
@media (min-width: 1120px) {
  .slider__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-end: none;
    column-gap: 32px;
    row-gap: 16px;
    margin: 32px;
  }

  .swiper-slide-brand:nth-last-child(-n + 3) {
    display: none;
  }

  .swiper-slide-brand {
    padding: 16px;
    margin: 0;
    width: 100%;
  }

  .swiper-container {
    overflow: visible;
    padding-right: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 1120px) {
  .brand-block__title-wrapper {
    padding-left: 32px;
  }

  .brand-block {
    padding-bottom: 34px;
  }
}
